# ROS build system
build/
devel/
install/

# logs
*.log
logs/

# Python
__pycache__/
*.pyc

# Python storage ignores
*.pkl
*.npy
*.jsonl
*.json
*.csv

# VSCode
.vscode/

# system files
.DS_Store

# ROS specific
*.bag
*.db

# catkin tools
.catkin_tools/

# compiled libs
*.so

# temporary maps
maps/tmp/
maps/*~ 

# images
*.png
*.jpg
*.jpeg

# Keep presentation/documentation images
!src/rbpf_slam/data/presentation/*.png
!src/rbpf_slam/data/presentation/*.jpg
!src/rbpf_slam/data/presentation/*.jpeg

# Delete venv from git history, as it is not needed and can be large. --- IGNORE ---
.venv

optimize_rbpf_scan_matcher_copy/