<launch>
<!--Launch the robot model and the world.-->
 <include file="$(find rvc_simulation_environment)/launch/robot_vacuum_cleaner.launch"/>
    <!-- <arg name="map_file" default="$(find rvc_commander)/maps/cafe_map_by_gmapping.yaml"/>
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" output="screen" /> -->
<!--Launch the link state transformer which transforms the gazebo pose to geometry pose.-->
    <node pkg="rvc_commander" name="link_state_transformer_node" type="gazebo_link_state_transformer_node.py" output="screen">
    </node>
<!--Compare gazebo link state pose, with differential_drive_controller odom pose.-->
    <node pkg="rvc_commander" name="compare_odom_with_true_odom" type="compare_odom_with_true_odom.py" output="screen">
    </node>
</launch>