<!--Launching the ros gmapping package-->
<launch>
    <!--Include robot vaccum cleaner model launch file-->
    <include file="$(find rvc_simulation_environment)/launch/robot_vacuum_cleaner.launch"/>
    <!--This package is needed for building the map and not for navigation by given map-->
    <node pkg="gmapping" name="slam_gmapping" type="slam_gmapping" output="screen">
        <param name="scan"        value="scan"/>
        <param name="odom_frame"  value="odom_link"/>
        <param name="base_frame"  value="base_link"/>
    </node>
</launch>

