<launch>
<!--Launch the robot model and the world.-->
 <include file="$(find rvc_simulation_environment)/launch/robot_vacuum_cleaner.launch"/>
    <!-- <arg name="map_file" default="$(find rvc_commander)/maps/cafe_map_by_gmapping.yaml"/>
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" output="screen" /> -->
<!--Generate a transform between map and odom -->
    <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom_link 30" />
<!--Launch the link state transformer which transforms the gazebo pose to geometry pose.-->
    <node pkg="rvc_commander" name="gazebo_link_state_transformer_node" type="gazebo_link_state_transformer_node.py" output="screen">
    </node>
<!--Launch the occupancy grid mapping algorithm (with known pose).-->
    <node pkg="rvc_commander" name="final_occupancy_grid_mapping_with_map_extension" type="final_occupancy_grid_mapping_with_map_extension.py" output="screen">        
    </node>
<!--Launch the LogOddsToOccupancyGrid algorithm that transforms the map from logOdds space to scaled probability
space and publishes the map as nav_msgs.msg OccupancyGrid message.-->
    <node pkg="rvc_commander" name="log_odds_map_to_occupancy_grid" type="log_odds_map_to_occupancy_grid.py" output="screen">
    </node>
<!--Launch rviz-->
    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find rvc_commander)/rviz/tf_map_scan.rviz">
    </node>
</launch>
