<launch>
<!--Launch the robot model and the world.-->
    <include file="$(find rvc_simulation_environment)/launch/robot_vacuum_cleaner.launch"/>
<!--Generate a transform between map and odom -->
    <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom_link 30" />
<!--Launch the map server-->
    <arg name="map_file" default="$(find rvc_commander)/maps/Maps_by_occupancy_Grid_Mapping/Cafe_Maps/final_occupancy_map_occ_95_free_5.yaml"/>
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" output="screen" />
<!--Get correct robot pose from gazebo-->
    <node pkg="rvc_commander" name="gazebo_link_state_transformer_node" type="gazebo_link_state_transformer_node.py" output="screen">
    </node>
<!--Simulate Wheel Encoder data-->
    <node pkg="rvc_commander" name="wheel_encoder_simulation_node" type="wheel_encoder_simulation.py" output="screen">
    </node>
<!--Monte Carlo Localization Algorithm-->
    <node pkg="rvc_commander" name="monte_carlo_localization_with_likelihood_field" type="monte_carlo_localization_with_likelihood_field.py" output="screen">
    </node>
<!--Launch rviz-->
    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find rvc_commander)/rviz/monte_carlo_localization.rviz">
    </node>

</launch>