<launch>
<!--Launch the robot model and the world.-->
    <arg name="paused" default="true"/>
    <arg name="spawn_x" default="0.0"/>
    <arg name="spawn_y" default="0.0"/>
    <arg name="spawn_z" default="0.18"/>
    <arg name="spawn_roll" default="0.0"/>
    <arg name="spawn_pitch" default="0.0"/>
    <arg name="spawn_yaw" default="0.0"/>
    <include file="$(find rvc_simulation_environment)/launch/robot_vacuum_cleaner.launch">
        <arg name="paused" value="$(arg paused)"/>
        <arg name="spawn_x" value="$(arg spawn_x)"/>
        <arg name="spawn_y" value="$(arg spawn_y)"/>
        <arg name="spawn_z" value="$(arg spawn_z)"/>
        <arg name="spawn_roll" value="$(arg spawn_roll)"/>
        <arg name="spawn_pitch" value="$(arg spawn_pitch)"/>
        <arg name="spawn_yaw" value="$(arg spawn_yaw)"/>
    </include>

<!--Generate a transform between map and odom -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom_link 30" /> -->

<!--Launch the map server-->
    <arg name="map_file" default="$(find rvc_commander)/maps/Maps_by_occupancy_Grid_Mapping/Cafe_Maps/final_occupancy_map_occ_95_free_5.yaml"/>
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" output="screen" />

<!--Simulate Wheel Encoder data-->
    <node pkg="rvc_commander" name="wheel_encoder_simulation_node" type="wheel_encoder_simulation.py" output="screen">
    </node>

<!--Monte Carlo Localization Algorithm-->
    <node pkg="rvc_commander" name="monte_carlo_localization_with_beam_model" type="monte_carlo_localization_with_beam_model_modified.py" output="screen">
    </node>

<!--Launch rviz-->
    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find rvc_commander)/rviz/monte_carlo_localization.rviz">
    </node>
</launch>