<launch>
<!--Launch the robot model and the world.-->
    <include file="$(find rvc_simulation_environment)/launch/robot_vacuum_cleaner.launch"/>
<!--Generate a transform between map and odom -->
    <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom_link 30" />
<!--Simulate wheel encoder data-->
    <node pkg="rvc_commander" name="wheel_encoder_simulation_node" type="wheel_encoder_simulation.py" output="screen">
    </node>
<!--Launch rviz-->
    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find rvc_commander)/rviz/tf_map_scan.rviz">
    </node>

</launch>