<launch>
    <!--Define useful parameters-->
    <arg name="paused" default="false"/>

    <!--Use simulation time-->
    <arg name="use_sim_time" default="true"/>

    <!-- Enable/disable gazebo gui. Runs also without, but robot not visible then -->
    <arg name="gui" default="false"/>

    <!--Define world to launch-->
    <!-- <arg name="world_name" default="/home/smide/work/ros_workspaces/aws-robomaker-bookstore-world/worlds/bookstore_light.world"/> -->
    <arg name="world_name" default="/home/smide/work/ros_workspaces/aws-robomaker-small-house-world/worlds/small_house_light.world"/>
    <!-- <arg name="world_name" default="$(find rvc_simulation_environment)/worlds/turtle_map.world"/> -->
    <!-- <arg name="world_name" default="$(find rvc_simulation_environment)/worlds/robot_vacuum_cleaner.world"/> -->

    <!--Robot spawn pose for cafe map-->
    <!-- <arg name="spawn_x" default="0.0"/>
    <arg name="spawn_y" default="0.0"/>
    <arg name="spawn_z" default="0.18"/>
    <arg name="spawn_roll" default="0.0"/>
    <arg name="spawn_pitch" default="0.0"/>
    <arg name="spawn_yaw" default="0.0"/> -->

    <!--Robot spawn pose for aws bookstore -->
    <!-- <arg name="spawn_x" default="2.0"/>
    <arg name="spawn_y" default="2.8"/>
    <arg name="spawn_z" default="0.0"/>
    <arg name="spawn_roll" default="0.0"/>
    <arg name="spawn_pitch" default="0.0"/>
    <arg name="spawn_yaw" default="3.14"/> -->

    <!--Robot spawn pose for aws smallhouse and turtlebot3 -->
    <arg name="spawn_x" default="0.0"/>
    <arg name="spawn_y" default="0.3"/>
    <arg name="spawn_z" default="0.0"/>
    <arg name="spawn_roll" default="0.0"/>
    <arg name="spawn_pitch" default="0.0"/>
    <arg name="spawn_yaw" default="3.14"/>

    <!--Motion uncertainty parameters-->
    <arg name="motion_error_factor" default="0.1"/>
    <arg name="turn_error_factor" default="0.15"/>

    <!--Laser Scanner parameters-->
    <arg name="laser_range_resolution" default="0.01"/>
    <arg name="laser_noise_type" default="gaussian"/>
    <arg name="laser_noise_mean" default="0.0"/>
    <arg name="laser_noise_stddv" default="0.00"/>

    <!--Pass the parameters to ros parameter server-->
    <param name="use_sim_time" value="$(arg use_sim_time)"/>
    <param name="spawn_x" value="$(arg spawn_x)"/>
    <param name="spawn_y" value="$(arg spawn_y)"/>
    <param name="spawn_z" value="$(arg spawn_z)"/>
    <param name="spawn_roll" value="$(arg spawn_roll)"/>
    <param name="spawn_pitch" value="$(arg spawn_pitch)"/>
    <param name="spawn_yaw" value="$(arg spawn_yaw)"/>

    <param name="motion_error_factor" value="$(arg motion_error_factor)"/>
    <param name="turn_error_factor" value="$(arg turn_error_factor)"/>

    <param name="laser_range_resolution" value="$(arg laser_range_resolution)"/>
    <param name="laser_noise_type" value="$(arg laser_noise_type)"/>
    <param name="laser_noise_mean" value="$(arg laser_noise_mean)"/>
    <param name="laser_noise_stddv" value="$(arg laser_noise_stddv)"/>

    <!--Launch the robot model and the world.-->
    <include file="$(find rvc_simulation_environment)/launch/robot_vacuum_cleaner.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="spawn_x" value="$(arg spawn_x)"/>
        <arg name="spawn_y" value="$(arg spawn_y)"/>
        <arg name="spawn_z" value="$(arg spawn_z)"/>
        <arg name="spawn_roll" value="$(arg spawn_roll)"/>
        <arg name="spawn_pitch" value="$(arg spawn_pitch)"/>
        <arg name="spawn_yaw" value="$(arg spawn_yaw)"/>

        <arg name="laser_range_resolution" value="$(arg laser_range_resolution)"/>
        <arg name="laser_noise_type" value="$(arg laser_noise_type)"/>
        <arg name="laser_noise_mean" value="$(arg laser_noise_mean)"/>
        <arg name="laser_noise_stddv" value="$(arg laser_noise_stddv)"/>
    </include>

    <!--Generate static transform between map and odom -->
    <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom_link 30" />

    <!--Launch the LogOddsToOccupancyGrid algorithm that transforms the map from logOdds space to scaled probability
    space and publishes the map as nav_msgs.msg OccupancyGrid message.-->
    <!-- <node pkg="rbpf_slam" name="log_odds_map_to_occupancy_grid" type="log_odds_map_to_occupancy_grid.py" output="screen">
    </node> -->

    <!--Simulate Wheel Encoder data-->
    <!-- <node   pkg="rbpf_slam" 
            name="wheel_encoder_simulation_node" 
            type="wheel_encoder_simulation.py" 
            output="screen">
            <param name="wheel_encoder_motion_error_factor" value="$(arg motion_error_factor)"/>
            <param name="wheel_encoder_turn_error_factor" value="$(arg turn_error_factor)"/>
    </node> -->
    
    <!--Launch the playback recorder and load its params from config file. -->
    <node pkg="rbpf_slam" name="playback_node" type="playback_node.py" output="screen">
        <rosparam command="load" file="$(find rbpf_slam)/config/playback_params.yaml"/>
    </node>

    <!--Launch rviz-->
    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find rbpf_slam)/rviz/ogm_rviz_cfg.rviz">
    </node>

</launch>
