<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Define arguments -->
  <arg name="world_name" default=""/>
  <arg name="world" 		default="empty"/> 
  <arg name="paused" 		default="false"/>
  <arg name="use_sim_time" 	default="true"/>
  <arg name="gui" 			default="false"/>
  <arg name="headless" 		default="false"/>
  <arg name="debug" 		default="false"/>
  <arg name="spawn_x" 		default="0.0"/>
  <arg name="spawn_y" 		default="0.0"/>
  <arg name="spawn_z" 		default="0.002"/>
  <arg name="spawn_roll" 	default="0.0"/>
  <arg name="spawn_pitch" 	default="0.0"/>
  <arg name="spawn_yaw" 	default="0.0"/>

  <arg name="laser_range_resolution" default="0.01"/>
  <arg name="laser_noise_type" default="gaussian"/>
  <arg name="laser_noise_mean" default="0.0"/>
  <arg name="laser_noise_stddv" default="0.00"/>
  
  
  <!-- Load cafe world environment -->
  <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" 		value="$(find rvc_simulation_environment)/worlds/robot_vacuum_cleaner.world"/>
    <arg name="paused" 			value="$(arg paused)"/>
    <arg name="use_sim_time"   	value="$(arg use_sim_time)"/>
    <arg name="gui" 			value="$(arg gui)"/>
    <arg name="headless" 		value="$(arg headless)"/>
    <arg name="debug" 			value="$(arg debug)"/>
  </include> -->

  <!-- Load turtlebot world environment -->
  <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" 		value="$(find rvc_simulation_environment)/worlds/turtle_map.world"/>
    <arg name="paused" 			value="$(arg paused)"/>
    <arg name="use_sim_time"   	value="$(arg use_sim_time)"/>
    <arg name="gui" 			value="$(arg gui)"/>
    <arg name="headless" 		value="$(arg headless)"/>
    <arg name="debug" 			value="$(arg debug)"/>
  </include> -->


  <!-- Load aws realistic indoor apartment -->
  <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" 		 value="/home/smide/work/ros_workspaces/aws-robomaker-small-house-world/worlds/small_house_light.world"/>
    <arg name="paused" 			value="$(arg paused)"/>
    <arg name="use_sim_time"   	value="$(arg use_sim_time)"/>
    <arg name="gui" 			value="$(arg gui)"/>
    <arg name="headless" 		value="$(arg headless)"/>
    <arg name="debug" 			value="$(arg debug)"/>
  </include>  -->


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" 		 value="$(arg world_name)"/>
    <arg name="paused" 			value="$(arg paused)"/>
    <arg name="use_sim_time"   	value="$(arg use_sim_time)"/>
    <arg name="gui" 			value="$(arg gui)"/>
    <arg name="headless" 		value="$(arg headless)"/>
    <arg name="debug" 			value="$(arg debug)"/>
  </include>


  <!-- This command builds the urdf files from the xacro files by calling the launch file -->
  <param name="robot_vacuum_cleaner_description" command="$(find xacro)/xacro --inorder '$(find rvc_simulation_environment)/models/robot_vacuum_cleaner/robot_vacuum_cleaner.xacro'
      laser_range_resolution:=$(arg laser_range_resolution)
      laser_noise_type:=$(arg laser_noise_type)
      laser_noise_mean:=$(arg laser_noise_mean)
      laser_noise_stddv:=$(arg laser_noise_stddv)" />


  <!-- Spawn the robot after we built the urdf files -->
  <node name="robot_vacuum_cleaner_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-urdf -param robot_vacuum_cleaner_description -model robot_vacuum_cleaner
      -x $(arg spawn_x) -y $(arg spawn_y) -z $(arg spawn_z)
      -R $(arg spawn_roll) -P $(arg spawn_pitch) -Y $(arg spawn_yaw)" />

   
  <!-- Publish the TFs -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" >
    <remap from="robot_description" to="robot_vacuum_cleaner_description" />
  </node>

</launch>

